body, html {
    margin: 0;
    font-family: 'Noto Sans KR', sans-serif;
}

header {
    position: sticky;
    z-index: 9;
    top: 0;
    width: 100%;
    height: 36px;
    background-color:#d0def5;
}
  
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 40px;
    background-color:#d0def5;
}

header > div {
  position: absolute;
  width: 100%;
  top: 6px;
}

header img:first-child {
    margin-left: 6px;
}

header img:last-child {
    margin-right: 6px;
    float: right;
}

#container {
    display: grid;
    grid-gap: 4px;
    grid-template-columns: repeat(auto-fill, minmax(72px, 1fr));
    grid-auto-rows: 85px;
    background-color: #2196F3;
    padding: 5px;
    margin-bottom: 40px;
}

.item {
    border-radius: 1px;
    background-color: #d0def5;
    display: flex;
    flex-direction: column;
}

.item > img {
    display: block;
    margin: 3px auto;
}

.item > div {
    margin: auto;
    text-align: center;
    font-size: 1em;
    font-family: sans-serif;
    word-wrap: normal;
}
