body, html {
    margin: 0;
    font-family: 'Noto Sans KR', sans-serif;
}

header {
    position: sticky;
    z-index: 9;
    top: 0;
    width: 100%;
    height: 36px;
    background-color:#d0def5;
}

header p {
    margin: auto;
    padding: 8px;
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
}

header img {
    position: absolute;
    top: 6px;
    right: 6px;
}
  
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 40px;
    background-color:#d0def5;
}

#container {
  position: relative;
  margin-top: 10px;
  margin-bottom: 40px;
}

details {
    border: 1px solid #aaa;
    border-radius: 4px;
    padding: .5em .5em 0;
}

summary {
    font-size: 100%;
    font-weight: bold;
    margin: -.5em -.5em .5em 0;
    padding: .5em;
}

details[open] {
    padding: .5em;
}

main p {
    margin: .2em .5em -.2em;
    padding: 0;
}

button {
    font-size: 100%;
    font-weight: bold;
    border-style: none;
    background-color: transparent;
}
