body {
  margin: 0;
  font-family: D2Coding, 'Segoe UI', sans-serif;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white;
}

header p {
  margin: auto;
  padding: 5px;
  border: 2px solid #999;
  text-align: center;
  font-size: 20px;
}

section {
  margin: 50px 0 35px;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
}

footer button {
  flex: auto;
  font-size: 16px;
}

footer button:hover {
  opacity: 0.8;
}

table {
  border: 1px solid grey;
  border-collapse: collapse;
  width: calc(100% - 1px);
  font-size: 14px;
}

table tr:nth-child(even) {
  background-color: #f2f2f2;
}

table tr:hover {
  background-color: #ddd;
}

table td {
  padding: 5px 0;
}
